<!DOCTYPE html>
<html>
  <head>
    <title>Hello Cats!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="left__wrapper">
        <h1>Hello Cats!</h1>
        <div class="left__wrapper__link">
          <%= image_tag "cat01.png", class: "top-logo" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "left__wrapper__link--white" %>
          <%= link_to "Log In", new_user_session_path, class: "left__wrapper__link--blue" %>
          <a href="#" class="left__wrapper__test">Test Log In</>
          
        </div>
      </div>

      <div class="right__wrapper">
        <div class="right__wrapper__text">
          <h2>全ての猫を幸せにするアプリ</h2>
          <ul>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  日々の愛猫の成長記録</li>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  毎日のご飯の管理に</li>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  健康管理も欠かさない</li>
          </ul>
        </div>
        <div class="right__wrapper__image">
          <%= image_tag "cat03.png", class: "right-image" %>
          <%= image_tag "cat02.png", class: "right-image" %>
          <%= image_tag "cat04.png", class: "right-image" %>
        </div>
      </div>
    </div>
  </body>
</html>
















