<!DOCTYPE html>
<html>
  <head>
    <title>Hello Cat!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/notifications' %>
    <div class="wrapper">
      <div class="left__wrapper">
        <h1>Hello Cat!</h1>
        <div class="left__wrapper__link">
          <%= image_tag "cat01.png", class: "top-logo" %>
          <%= link_to "新規登録", new_user_registration_path, class: "left__wrapper__link--white" %>
          <%= link_to "ログイン", new_user_session_path, class: "left__wrapper__link--blue" %>
        </div>
        <div class="sub__contents">
          <%= link_to top_guest_sign_in_path, method: :post do %>
            <i class="fas fa-paw">かんたんログイン</i>
          <% end %>
          <%= link_to posts_path do %>
            <i class="fas fa-paw">投稿一覧を見てみる</i>
          <% end %>
          <%= link_to top_guest_sign_in_path, method: :post do %>
            <i class="fas fa-paw">Hello Cat!について</i>
          <% end %>
          
        </div>
      </div>

      <div class="right__wrapper">
        <div class="right__wrapper__text">
          <h2>全ての猫を幸せにする里親探しアプリ</h2>
          <ul>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  条件を指定して気になる猫を探せる</li>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  チャットを使ったやりとり</li>
            <li class="right__wrapper__list"><i class="fas fa-paw"></i>  コメント機能を使ったユーザー同士のやりとり</li>
          </ul>
        </div>
        <div class="right__wrapper__image">
          <%= image_tag "cat03.png", class: "right-image" %>
          <%= image_tag "cat02.png", class: "right-image" %>
          <%= image_tag "cat04.png", class: "right-image" %>
        </div>
        
      </div>
    </div>
  </body>
</html>
















