<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>
<div class="form">
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="form__content">
      <%= form.text_field :nickname, placeholder: "＃Nickname", class: "form__string" %>
      <%= form.text_field :email, placeholder: "＃Email", class: "form__string" %>
      
      <%= form.text_area :profile, placeholder: "＃自己紹介" , rows: "3", class: "form__content" %>
      <%= form.label :picture, class: "form__image" do %> 
        <i class="fas fa-image fa-2x"></i>
        <%= form.file_field :picture %>
        <span class="form__image__text">画像を追加する</span>
      <% end %> 
      <%= form.submit "SEND", class: "send__btn" %>
    </div>
  <% end %>
</div>