
<div class="setting__page">
  <%=  @user.nickname %>さんの編集ページ
</div>

<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>
<div class="form">
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="form__contents">
      <% if @user.picture.present? %>
        <%= image_tag @user.picture.url, id: :img_prev %>
      <% else %>
        <%= image_tag "", id: :img_prev, alt: "画像がありません"  %>
      <% end %>
      <%= form.label :image, class: "form__image" do %> 
        <i class="fas fa-image fa-2x"></i>
        <%= form.file_field :image %>
        <span class="form__image__text">プロフィール画像を変更する</span>
      <% end %> 
  
      <%= form.text_field :nickname, placeholder: "＃Nickname", class: "form__string" %>
      <%= form.text_field :email, placeholder: "＃Email", class: "form__string" %>
      <%= form.text_area :profile, placeholder: "＃自己紹介" , rows: "5", class: "form__content" %>
      
      <%= form.submit "SEND", class: "send__btn" %>
    </div>
  <% end %>
</div>