
<div class="setting__page">
  <i class="fas fa-paw"> <%=  @user.nickname %>さんの編集ページ</i>
</div>

<% @user.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>
<div class="user__form">
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="form__contents--center">
      <% if @user.picture.present? %>
        <%= image_tag @user.picture.url, id: "img_prevs", class: "form__image" %>
      <% else %>
        <%= image_tag "", id: "img_prevs", alt: "画像がありません"  %>
      <% end %>
      <%= form.label :picture, class: "form__image" do %> 
        <i class="fas fa-image fa-2x"></i>
        <%= form.file_field :picture %>
        <span class="form__image__text">プロフィール画像を変更する</span>
      <% end %> 
  
      <span>名前　:  <%= form.text_field :nickname, placeholder: "＃Nickname", class: "form__string" %></span>
      <span>住所　: <%= form.text_field :addres, placeholder: "住所(都道府県のみ)", class: "form__string" %></span>
      <span>メール: <%= form.text_field :email, placeholder: "＃Email", class: "form__string" %></span><br>
      <span><%= form.text_area :profile, placeholder: "＃自由にどうぞ" , rows: "5", class: "user__form__content" %></span>
      
      <%= form.submit "SEND", class: "edit__btn" %> 
    </div>
  <% end %>
</div>

