<div class="users">
  <% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <div class="user__content">
      <div class="user__content__left">
        <% if user.picture.url %>
        <div class="user__content__image">
          <%= image_tag user.picture.url, class: "user__image" %>
        </div>
        
        <% end %>
      </div>
      <div class="user__content__right">
        <div class="user__content__right__part">
          <%= user.nickname %>さん
        </div>
        
        <div class="user__content__right__part">
          出身: <%= user.addres %>
        
        </div>
      </div>
      <div class="user__content__left__part">
        <%= user.profile %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>


