<div class="posts">
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  
    <div class="post__content">
      <div class="post__content__image">
        <%= image_tag post.image.url %>
      </div>
      <div class="post__content__name">
        <%= post.name %>
      </div>
      <div class="post__content__age">
        <%= post.age %>
      </div>
      <div class="post__content__weight">
        <%= post.weight %>
      </div>
      <div class="post__content__gender">
        <%= post.gender %>
      </div>
      <div class="post__content__character">
        <%= post.character %>
      </div>
      <div class="post__content__text">
        <%= post.content %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
