<div class="posts">
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <div class="post__content">
      <div class="post__content__left">
        <div class="post__content__image">
          <%= image_tag post.image.url %>
        </div>
        <span class="comment">コメント</span>
      </div>
      <div class="post__content__right">
        <div class="post__content__right__part">
          名前：<%= post.name %>
        </div>
        <div class="post__content__right__part">
          年齢：<%= post.age %>歳
        </div>
        <div class="post__content__right__part">
          体重：<%= post.weight %>kg
        </div>
        <div class="post__content__right__part">
          性別：<%= post.gender %>
        </div>
        <div class="post__content__right__part">
          性格：<%= post.character %>
        </div>
      </div>
      <div class="post__content__left__part">
        <%= post.content %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
