<div class="help__wrapper">
  <%# --ページタイトル-- %>
  <div class="help__title">
    <%= image_tag "cat01.png", class: "help__title__image" %>
    <h2>Hello Cat!について</h2>
  </div>
  <div class="help__title__sub">
  <h3>"全ての猫が幸せになって欲しい"</h3>
  <h4>そんな想いからHello Cat!は誕生しました</h4>
  </div>
  <h4 class="section__title"><i class="fas fa-paw">Hello Cat!の特徴</i></h4>
  <%# --ページ紹介セクション-- %>
  <div class="help__function">
    <%= image_tag "preview1.png", class: "help__function__image" %>
    <div class="help__function__string">
    <h3>シェアできるSNS型の里親探しアプリ</h3>
    <h4>探すだけではなく、見るだけでも楽しい</h4>
    </div>
  </div>
  <div class="help__function">
    <%= image_tag "preview2", class: "help__function__image" %>
    <div class="help__function__string">
    <h3>投稿主のかたと気軽に会話できる！</h3>
    <h4>1対1のチャット機能付き！気になることは<br>
    質問して、里親になるまでの準備を整えよう</h4>
    </div>
  </div>
  <div class="help__function">
    <%= image_tag "preview3.png", class: "help__function__image" %>
    <div class="help__function__string">
    <h3>気になる投稿はみんなでコメントしよう</h3>
    <h4>気軽にみんなで会話できるコメント機能も！</h4>
    </div>
  </div>
  <%# --開発者紹介セクション-- %>
  <div class="profile__title" id="developer__profile" >
    <h2><i class="fas fa-paw"> 開発者について</i></h2>
  </div>
  <div class="profile__content">
    <%= image_tag "IMG_0010_Original.jpg", class: "profile__image" %>
    <div class="profile__table">
      <div class="profile__name">
        <p class="profile--bold"> 名前</p>
        <p>SHUN</p>
      </div>
      <div class="profile__history">
          <p class="profile--bold">経歴</p>
          <p>2009.4 西南学院大学に入学</p>
          <p>2009.4 ラクロス部に入部</p>
          <p>2012.8 U22選抜&九州リーグ制覇</p>
          <p>2014.3 西南学院大学を卒業</p>
          <p>2014.4 某携帯会社に入社</p>
          <p>2018.5 光回線&タブレット販売数により表彰 </p>
          <p>2018.9 運営責任者に任命される</p>
          <p>2019.12 エンジニアになる決意を固め退社</p>
          <p>2019.4 TECHCAMPに入学</p>
      </div>
    </div>
  </div>
</div>