<div class="posts">
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  
    <div class="post__content">
      <div class="post__content__image">
        <%= image_tag post.image.url %>
      </div>
      <div class="post__content__title">
        <%= post.title %>
      </div>
      <div class="post__content__text">
        <%= post.content %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<%= link_to new_post_path do %>
<div class="post__logo">
   投稿
</div>
<% end %>