<div class="edit">
<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to post_path(@post.id), method: :delete do %>
    <div class="destroy__form">
      削除する
    </div>
  <% end %>
  <%= link_to edit_post_path(@post.id) do %>
    <div class="edit__form">
      編集する
    </div>
  <% end %>
<% end %>
</div>

<div class="posts">
  <div class="post__content">
    <div class="post__content__upper">
        <div class="user__info">
        <%= image_tag @post.user.picture.url, class: "post__user__image" %>
        <%= @post.user.nickname %>さんの投稿
        </div>
        <%= @post.created_at %>
      </div>

      <div class="post__content__middle">
        <div class="post__content__image">
          <%= image_tag @post.image.url, class: "post__image" %>
        </div>

        <div class="post__content__right">
          <div class="ma">
            <div class="post__content__right__part">
              名前：<%= @post.name %>
            </div>
            <div class="post__content__right__part">
              種類：<%= @post.kind %>
            </div>
            <div class="post__content__right__part">
              年齢：<%= @post.age %>
            </div>
            <div class="post__content__right__part">
              出身：<%= @post.user.addres %>
            </div>
          </div>
          <div class="ma">
            <div class="post__content__right__part">
              性別：<%= @post.gender %>
            </div>
            <div class="post__content__right__part">
              予防接種：<%= @post.vaccination %>
            </div>
            <div class="post__content__right__part">
              性格：<%= @post.character %>
            </div>
          </div>  
        </div>
      </div>

      <div class="post__content__bottom">
        <div class="post__content__left__part">
          <%= simple_format @post.content %>
        </div>
      </div>
      <div class="chat__form">
      <%= form_with(model: [@post, @group], local: true) do |form| %>
      <%= form.submit "#{@post.user.nickname}さんとチャットする", class: "chat__send" %>
      <% end %>
      </div>
  </div>
</div>





  <div class="comment__container">
    <div class="comments">
      <h4 class="comment__index">＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
        

        <div class="comment__left">
      <%= image_tag comment.user.picture.url, id: "comment__left__user__image" %>
      <div class="comment__message__left__content">
      <%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:
        <%= comment.text %> 
      
      </div>
    </div>
        <div class="comment__left__created">
        <%= comment.created_at.strftime("%m月%d日 %H時%M分") %>
        </div>




        <% end %>
      <% end %>
    </div>
    <div>
      <% if current_user %>
        <%= form_with(model: [@post, @comment], class: "comment__form", local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", class: "comment__input", rows: "2" %>
          <%= form.submit "SEND", class: "comment__send__btn" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      </div>
  </div>


