<div class="posts">
<div class="post__content">
      <div class="post__content__image">
        <%= image_tag @post.image.url %>
      </div>
      <div class="post__content__name">
        <%= @post.name %>
      </div>
      <div class="post__content__age">
        <%= @post.age %>
      </div>
      <div class="post__content__weight">
        <%= @post.weight %>
      </div>
      <div class="post__content__gender">
        <%= @post.gender %>
      </div>
      <div class="post__content__character">
        <%= @post.character %>
      </div>
      <div class="post__content__text">
        <%= @post.content %>
      </div>
    </div>
<% if user_signed_in? && current_user.id == @post.user_id %>
<%= link_to "編集する", edit_post_path(@post.id) %>
<%= link_to "削除する", post_path(@post.id), method: :delete %>
<% end %>