<div class="posts">
  <div class="post__content">
    <div class="post__content__left">
      <div class="post__content__image">
        <%= image_tag @post.image.url, class: "post__image" %>
      </div>
    
    </div>
    <div class="post__content__right">
      <div class="post__content__right__part">
        名前：<%= @post.name %>
      </div>
      <div class="post__content__right__part">
        年齢：<%= @post.age %>歳
      </div>
      <div class="post__content__right__part">
        体重：<%= @post.weight %>kg
      </div>
      <div class="post__content__right__part">
        性別：<%= @post.gender %>
      </div>
      <div class="post__content__right__part">
        性格：<%= @post.character %>
      </div>
    </div>
    <div class="post__content__left__part">
      <%= @post.content %>
    </div>
  </div>
</div>
<div class="edit">
<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to edit_post_path(@post.id) do %>
    <div class="edit__form">
      編集する
    </div>
  <% end %>
  <%= link_to post_path(@post.id), method: :delete do %>
    <div class="destroy__form">
      削除する
    </div>
  <% end %>
<% end %>
</div>

<%= link_to new_post_path do %>
<div class="post__logo">
   投稿
</div>
<% end %>