<!DOCTYPE html>
<html>
  <head>
    <title>Hello Cats!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main__wrapper">
      <div class="header">
        <%= link_to root_path do %>
        <div class="header__logo">
          <%= image_tag "cat01.png" %>
          <span>Hello Cats!</span>
        </div>
        <% end %>  

        <div class="header__list">
          
          <ul>
            <% if user_signed_in? %>
            
            <%= link_to "#",  method: :delete do %>
              <li><i class="far fa-user"></i> About me</li>
            <% end %>

            <%= link_to edit_user_path(current_user.id) do %>
              <li><i class="fas fa-cog"></i> Setting</li>
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete do %> 
              <li><i class="fas fa-sign-out-alt"></i> Log Out</li>
            <% end %>

            <% else %>

            <%= link_to new_user_session_path do %>
              <li><i class="far fa-user"></i> ログイン</li>
            <% end %>

            <%= link_to new_user_registration_path do %>
              <li><i class="far fa-user"></i> 新規登録</li>
            <% end %>
            
            <% end %>
          </ul>
        </div>
      </div>

      <%# サイドバー %>
      <div class="main__contents">
        <div class="left__contents">
          <div class="left__content">
            <%= link_to posts_path do %>
              <div class="left__content__index">
              <i class="fas fa-paw"></i> 投稿一覧
              </div>
            <% end %>
          </div>
          <% if user_signed_in? %>
          <div class="left__content">
            <%= link_to user_path(current_user.id) do %>
              <i class="fas fa-paw"></i> マイページ
            <% end %>
          </div>
            <div class="left__content">
              <%= link_to users_path do %>
                <i class="fas fa-paw"></i> ユーザー
              <% end %>
            </div>
            <div class="left__content">
              <%= link_to groups_path do %>
                <i class="fas fa-paw"></i> チャット一覧
              <% end %>
            </div>
            <div class="left__content">
              <i class="fas fa-paw"></i> ヘルプ
            </div>
          <% end %>
        </div>
        <div class="right__contents">
          <div class="right__content">
            <%= render 'layouts/notifications' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
