<!DOCTYPE html>
<html>
  <head>
    <title>Hello Cat!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="main__wrapper">
      <div class="header">
        <%= link_to root_path do %>
        <div class="header__logo">
          <%= image_tag "cat01.png" %>
          <span>Hello Cat!</span>
        </div>
        <% end %>  

        <%# ハンバーガーメニュー %>
        <div class="navi__menu">
          <div class="menu-btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
          <div class="menu">
          <% if user_signed_in? %>
            <div class="menu__item">
              <%= link_to posts_path, class: "left__content" do %>
              投稿一覧
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to user_path(current_user.id), class: "left__content" do %>
              マイページ
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to users_path, class: "left__content" do %>
                ユーザー
              <% end %>
            </div>
            <div class="menu__item">
             <%= link_to groups_path, class: "left__content" do %>
               チャット一覧 
              <% end %>
            </div>
            <div class="menu__item">
              <% unless current_user.nickname == "ゲスト" %>
              <%= link_to edit_user_path(current_user.id) do %>
                Setting
              <% end %>
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to helps_path, class: "left__content" do %>
                Hello Cat! 
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to destroy_user_session_path, method: :delete do %> 
                Log Out
              <% end %>
            </div>

            <% else %>
            <div class="menu__item">
              <%= link_to top_guest_sign_in_path, method: :post do %>
              簡単ログイン
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to new_user_session_path do %>
               ログイン
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to new_user_registration_path do %>
              新規登録
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to posts_path, class: "left__content" do %>
              投稿一覧
              <% end %>
            </div>
            <div class="menu__item">
              <%= link_to helps_path, class: "left__content" do %>
                Hello Cat! 
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

        <%# ここまで %>

        <div class="serch__content">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search__form") do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search__form__input" %>
          <%= button_tag type: 'submit', class: 'btn btn-default search_btn' do %>
          <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        </div>

        <div class="header__list">
          <ul>
            <% if user_signed_in? %>

            <%= link_to user_path(current_user.id) do %>
              <li>
              <%= image_tag current_user.picture.url, class: "header__user__image" %>
              <%= current_user.nickname %>さん
              </li>
            <% end %>

            <%= link_to helps_path(anchor: "developer__profile") do %>
              <li><i class="far fa-user"></i> About me</li>
            <% end %>
            <% unless current_user.nickname == "ゲスト" %>
            <%= link_to edit_user_path(current_user.id) do %>
              <li><i class="fas fa-cog"></i> Setting</li>
            <% end %>
            <% else %>
            <p class="guest">※ゲストユーザーのためユーザー編集機能を制限しています</p>
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete do %> 
              <li><i class="fas fa-sign-out-alt"></i> Log Out</li>
            <% end %>

            <% else %>
            <%= link_to top_guest_sign_in_path, method: :post do %>
            <li><i class="far fa-user">かんたんログイン</i></li>
            <% end %>
            <%= link_to new_user_session_path do %>
              <li><i class="far fa-user"></i> ログイン</li>
            <% end %>

            <%= link_to new_user_registration_path do %>
              <li><i class="far fa-user"></i> 新規登録</li>
            <% end %>
            
            <% end %>
          </ul>
        </div>
      </div>

      <%# サイドバー %>
      <div class="main__contents">
        <div class="left__contents">
          
            <%= link_to posts_path, class: "left__content" do %>
              <i class="fas fa-paw"> 投稿一覧</i> 
            <% end %>
         
          <% if user_signed_in? %>
          
            <%= link_to user_path(current_user.id), class: "left__content" do %>
              <i class="fas fa-paw"> マイページ</i> 
            <% end %>
         
            
              <%= link_to users_path, class: "left__content" do %>
                <i class="fas fa-paw"> ユーザー</i> 
              <% end %>
            
           
              <%= link_to groups_path, class: "left__content" do %>
                <i class="fas fa-paw"> チャット一覧</i> 
              <% end %>
            
          <% end %>
            
            <%= link_to helps_path, class: "left__content" do %>
              <i class="fas fa-paw"> Hello Cat!</i> 
            <% end %>
          
        </div>
        <div class="right__contents">
          <div class="right__content">
            <%= render 'layouts/notifications' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
